lasetCtrl/lasetCtrl/bin/
lasetCtrl/lasetCtrl/obj/
lasetCtrl/sharp7/obj/
laserScada/laserScada/bin/
laserScada/laserScada/obj/
laserScada/sharp7/obj/
laserScada/ClassLibrary1/ClassLibrary1/bin/
laserScada/ClassLibrary1/ClassLibrary1/obj/
laserScada/Led\ Wpf/WpfLed/bin/
.out
laserScada/sharp7/bin/
laserScada/Setup1/Debug/
laserScada/Led Wpf/WpfLed/obj/
laserScada/Setup1/Release/
laserScada/.vs/
laserScada/Setup3/
laserScada/Setup4/


